* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wheather-Fullpage {
    /* border: 1px solid  blueviolet; */
    width: 100%;
    height: 100vh;
    background: url(https://cdn.pixabay.com/photo/2018/08/21/23/29/forest-3622519_1280.jpg);
    background-size: 100%;
    padding: 1%;
}

.wheather-container {
    /* border: 1px solid black; */
    box-shadow: 5px 5px 5px grey;
    width: 60%;
    margin: auto;
    height: 85%;
    margin-top: 5%;
    display: flex
}

.wheather-left-side-img {
    /* border: 1px solid black; */
    width: 60%;
    height: 100%;
    background: url(https://img.freepik.com/free-vector/rainbow-dreamy-cloud-fantasy-background_1017-32300.jpg?w=1060&t=st=1697700772~exp=1697701372~hmac=aa9d48148412c71ac1234526c053e63bb50cbd42407bf063ec9039139a0da1a2);
    background-size: cover;
    background-repeat: no-repeat;
}

.wheather-city {
    /* border: 1px solid black; */
    width: 100%;
    height: 20%;
}

.wheather-city h3 {
    position: relative;
    left: 70%;
    top: 20%;
    color: black;
    font-size: 1.5rem;
    /* border: 1px solid black; */
}

.wheather-city h2 {
    position: relative;
    left: 75%;
    top: 25%;
    color: black;
    font-size: 1.5rem;
}

.wheather-date {
    /* border: 1px solid white; */
    width: 100%;
    height: 18%;
    position: relative;
    top: 59%;
}

.wheather-date p {
    position: relative;
    left: 5%;
    color: black;
    /* color: whitesmoke; */
    font-size: 1.5rem;
    top: 25%;
}

.wheather-right-side {
    /* border: 1px solid black; */
    width: 40%;
    height: 100%;
    background-color:white;
    opacity: 0.7;
}

.wheather-temp {
    /* border: 1px solid white; */
    width: 100%;
    height: 25%;
}

.wheather-temp p {
    /* border: 1px solid white; */
    /* color: white; */
    color: black;
    font-size: 2rem;
    position: relative;
    left: 30%;
    top: 60%;
}

.wheather-input {
    /* border: 1px solid black; */
    display: flex;
    height: 30%;
    width: 85%;
    margin: auto;
    border-radius: 15px;
    margin-top: 10%;
    justify-content: space-evenly;
    align-items: center;

}

#unit{
    width: 20%;
    margin: 0 40%;
    margin-top: 20px;
}

.wheather-input input {
    width: 85%;
    border: none;
    margin-left: 4%;
    outline: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: black;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
}

.wheather-input input::placeholder {
    color: #141E46; /* Change to your desired color */
  }

.wheather-input i {
    /* color: white; */
    color: black;
    margin-top: 5%;
    margin-left: 2%;
}

#search-button{
    color: white;
    width:30%;
    background-color: black;
    margin: 20px 35%;
    height: 40px;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    border: none;
}
#search-button:hover{
    background-color: red;
}

.wheather-place {
    border: 1px solid white;
    width: 100%;
    height: 6%;
    margin-top: 5%;
    padding: 1%;
}

.wheather-place p {
    color: white;
    text-align: center;
    margin-top: 2%;
}

.wheather-info-temp {
    /* border: 1px solid white; */
    width: 100%;
    height: 6%;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.wheather-info-temp p {
 color: black;
    margin-top: 2%;
}


/* Media Queries */

@media screen and (min-width:1000px) and (max-width:1300px) {

    .wheather-Fullpage {
        width: 100%;
        height: 100vh;
        border: 5px solid white;
        /* background: url(https://raw.githubusercontent.com/gauravghai/weatherApp-Reactjs/master/src/images/background.jpg); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .wheather-container {
        height: 67%;
        margin-top: 15%;
    }

    .wheather-city h3 {
        left: 64%;
    }

    .wheather-city h2 {
        left: 64%;
    }

    .wheather-date{
        top: 50%;
    }
    #search-button{
        width:45%;
        margin-left: 50px;
    }

}

@media screen and (min-width:600px) and (max-width:800px) {

    .wheather-Fullpage {
        width: 100%;
        height: 100vh;
        border: 5px solid white;
        /* background: url(https://raw.githubusercontent.com/gauravghai/weatherApp-Reactjs/master/src/images/background.jpg); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .wheather-container {
        height: 60%;
        margin-top: 30%;
        width: 90%;
    }

    .wheather-city h3 {
        left: 64%;
    }

    .wheather-city h2 {
        left: 64%;
    }
    #search-button{
        width:50%;
        margin-left: 50px;
    }

}

@media screen and (min-width:360px) and (max-width:480px) {
    .wheather-Fullpage {
        width: 100%;
        height: 100vh;
        border: 5px solid white;
        /* background: url(https://raw.githubusercontent.com/gauravghai/weatherApp-Reactjs/master/src/images/background.jpg); */
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .wheather-left-side-img {
        display: none;
    }

    .wheather-right-side {
        width: 100%;
        height: 100%;
    }

    .wheather-temp p {
        left: 20%;
    }

    .wheather-temp {
        margin-top: 15%;
    }
    #search-button{
        width:50%;
        margin-left: 28%;
    }
}
